@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.attribution {
  font-size: 11px;
  text-align: center;
  font-family: 'Outfit', sans-serif;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
*{
  background: hsl(212, 45%, 89%) ;
}
.main-cont{
  border: 3px solid violet;
  width: 30%;
  margin: 180px auto;
}
.container{
  /* border: 4px solid red; */
  width: 20%;
  margin: 150px auto;
  background: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 2px;
}
.img-div{
  /* border: 3px solid green; */
  width: 87%;
  margin: 10px auto;
  background: hsl(0, 0%, 100%);
 
}
img{
  width: 100%;
  border-radius: 10px;
}
.text-div{
  /* border: 3px solid blue; */
  width: 87%;
  margin: auto auto;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  background: hsl(0, 0%, 100%);
}
.text-div h3{
  /* border: 2px solid firebrick; */
  width: 100%;
  margin: 20px auto;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 1.3em;
  background: hsl(0, 0%, 100%);
}
.text-div p{
  /* border: 2px solid darkmagenta; */
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  background: hsl(0, 0%, 100%);
  padding-bottom: 20px;
}

@media screen and (max-width: 375px) {
.container{
  /* border: 4px solid red; */
  width: 80%;
  margin: 150px auto;
  background: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 2px;
}




}